{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block extra_css %}
<style>

</style>
{% endblock %}

{% block content %}
<section class="py-8 sm:py-10 md:py-12 lg:py-14 px-3 sm:px-4 md:px-6 bg-gradient-to-br from-blue-50 to-white">
    <div class="max-w-7xl mx-auto">
        <div class="grid md:grid-cols-2 gap-6 sm:gap-8 md:gap-10 lg:gap-12 items-center">

            <div>
                <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-bold text-gray-900  mb-4 sm:mb-5 md:mb-6">
                    Annual Report Filing Service
                </h1>
                <p class="text-sm sm:text-base md:text-lg lg:text-xl text-gray-600 mb-6 sm:mb-7 md:mb-8 ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum nobis ut voluptate, esse suscipit
                    saepe itaque cum totam possimus ab neque nemo praesentium corrupti non unde quia quo rerum quas.
                </p>
                <div class="flex flex-col sm:flex-row gap-3 md:gap-3.5 lg:gap-4">
                    <button class="bg-gray-800 hover:bg-gray-500 text-white font-semibold py-2 sm:py-2.5 md:py-2.5 lg:py-3 px-4 sm:px-5 md:px-5 lg:px-6 rounded-lg text-sm">
                        Start your business
                    </button>
                    <button
                        class="border-2 border-gray-800 py-2 sm:py-2.5 md:py-2.5 lg:py-3 px-4 sm:px-5 md:px-5 lg:px-6 rounded-lg text-sm  font-semibold text-gray-900 hover:bg-gray-800 hover:text-white">
                        Learn More
                    </button>
                </div>
            </div>

            <div class="flex justify-center md:justify-end mt-6 ">
                <img src="{% static 'image/bg1.jpg' %}" 
                    class="w-full sm:w-5/6 md:w-full max-w-sm sm:max-w-md md:max-w-lg h-64 sm:h-80 md:h-96 lg:h-[448 px] object-cover rounded-lg  shadow-xl "
                    alt="Registered Agent Service">
            </div>
        </div>
    </div>
</section>
<section class="py-12 px-4 sm:px-6 lg:px-8 bg-green-100  flex items-start justify-center">
    <div class="max-w-4xl w-full mx-auto bg-white rounded-xl shadow-2xl overflow-hidden border border-gray-100">

        <div class="grid grid-cols-1 lg:grid-cols-2 divide-y lg:divide-y-0 lg:divide-x divide-gray-200">

            <div class="p-4 md:p-8 space-y-1 md:space-y-4 lg:col-span-1 text-center flex flex-col justify-center">

                <h2 class="text-3xl font-bold text-gray-900">
                    Annual Compliance Filing
                </h2>
                <p class="text-lg text-gray-500">
                    Lorem ipsum dolor.
                </p>
            </div>
            <div class="p-4 md:p-8 space-y-1 md:space-y-4 flex flex-col items-center justify-center lg:col-span-1">
                <div class="text-center">
                    <span class="text-5xl font-extrabold text-gray-900">Rs100</span>
                    <span class="ml-2 text-base text-gray-500">One-time fee</span>
                </div>

                <button class="w-full bg-gray-800 hover:bg-gray-500 text-white font-semibold py-3 px-6 rounded-lg mb-6">
                    Order now
                </button>
            </div>
        </div>
    </div>
</section>
<section class="max-w-6xl mx-auto px-4 py-12 ">
    <h1 class="text-4xl font-bold text-gray-900 mb-4 text-center">What information is typically found in an Annual
        Report?</h1>
    <p class="text-gray-600 text-center mb-10 max-w-3xl mx-auto">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </p>

    <div class="grid md:grid-cols-3 gap-8 items-center mb-16 bg-gradient-to-r from-green-400 to-green-100 rounded-lg">
        <div class="md:col-span-1">
            <div class="bg-gray-200 rounded-lg overflow-hidden shadow-lg">
                <img src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7?w=600&h=400&fit=crop"
                    class="w-full h-80 object-cover">
            </div>
        </div>

        <div class="md:col-span-2 px-2">
            <h2 class="text-3xl font-bold text-gray-900 mb-6">
                Business Information
            </h2>
            <p class="text-gray-600  mb-6">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ut repudiandae obcaecati hic. Est
                soluta placeat nam tempora, maxime ea magni aliquam. Voluptates ipsam doloremque ratione! Hic
                deleniti aut assumenda! </p>

        </div>
    </div>

    <div class="grid md:grid-cols-3 gap-8 items-center mb-16 bg-gradient-to-r from-green-400 to-green-100 rounded-lg">

        <div class="md:col-span-2 px-2">
            <h2 class="text-3xl font-bold text-gray-900 mb-6">
                Compliance and Reporting
            </h2>
            <p class="text-gray-600  mb-6">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quis, delectus, inventore
                necessitatibus perferendis sit nam placeat enim consequatur ab maxime aliquid tenetur vero totam
                repellendus dolorum veritatis. Assumenda, itaque! </p>
        </div>

        <div class="md:col-span-1 px-2">
            <div class="bg-gray-200 rounded-lg overflow-hidden shadow-lg">
                <img src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7?w=600&h=400&fit=crop"
                    alt="Business owner" class="w-full h-80 object-cover">
            </div>
        </div>
    </div>
    <div class="grid md:grid-cols-3 gap-8 items-center mb-16 bg-gradient-to-r from-green-400 to-green-100 rounded-lg">
        <div class="md:col-span-1">
            <div class="bg-gray-200 rounded-lg overflow-hidden shadow-lg">
                <img src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7?w=600&h=400&fit=crop"
                    alt="Business owner" class="w-full h-80 object-cover">
            </div>
        </div>

        <div class="md:col-span-2 px-2">
            <h2 class="text-3xl font-bold text-gray-900 mb-6">
                Importance of Annual Reports
            </h2>
            <p class="text-gray-600  mb-6">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea minima quae ducimus corrupti voluptas?
                Illo perspiciatis fuga quam officiis! Vel, magnam. Nihil earum non esse, a doloremque maiores
                accusantium quia. </p>
        </div>
    </div>
</section>


{% endblock %}

{% block extra_js %}
{% endblock %}